# Project exclude paths
/cloud-alibaba-consumer-nacos-openfeign-order-85/target/
/cloud-alibaba-consumer-nacos-order-84/target/
/cloud-alibaba-nacos-client-9010/target/
/cloud-alibaba-nacos-client-9020/target/
/cloud-alibaba-nacos-discovery-server-9001/target/
/cloud-alibaba-nacos-ribbon-client-9003/target/
/cloud-alibaba-nacos-ribbon-client-9004/target/
/cloud-alibaba-sentinel-service-8401/target/
/cloud-api-commons/target/
/cloud-config-client-9710/target/
/cloud-config-client-9720/target/
/cloud-config-server-9700/target/
/cloud-consumer-consul-order-80/target/
/cloud-consumer-eureka-order-80/target/
/cloud-consumer-hystrix-dashboard-9001/target/
/cloud-consumer-hystrix-order-80/target/
/cloud-consumer-openfeign-order-80/target/
/cloud-consumer-zk-order-80/target/
/cloud-eureka-server-7001/target/
/cloud-eureka-server-7002/target/
/cloud-gateway-dynamic-route-server-9500/target/
/cloud-gateway-dynamic-route-server-jdbc-9510/target/
/cloud-gateway-server-9527/target/
/cloud-provider-payment-consul-8006/target/
/cloud-provider-payment-eureka-8001/target/
/cloud-provider-payment-eureka-8002/target/
/cloud-provider-payment-hystrix-8001/target/
/cloud-provider-payment-zookeeper-8004/target/
/cloud-spring-boot-admin-server/target/
/easy-code-generate/target/